*{
  font-family: Montserrat;
}
a{
  cursor: pointer;
}
.modal-content{
  background-color: white;
}
 .modal-footer .btn{
  color: #f96332;
}
.modal-footer:hover .btn{
 color: #f70808;
}
.page-header-image{
  background: url('images/bg6.jpg') center/cover;
  height: 50%;
}
.nav-item:hover {
	font-size: 150%;
	  transition: 0.2s ease-in;
	  padding:5px ;
}.page-header{
	filter: orange();
}
.nav-item{
	color: orange;
}
.tsague{
	font-size: 14px;
}

.navbar-brand{
	font-size: 50px;
}
